.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 10px;
    display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.panel-body a {
    color: #262626;
}

.rating-sm {
    font-size: 18px !important;
}

.poster {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 200px;
}

@media(max-width: 731px) {
    .card {
        width: 100%;
        margin: 15px 15px 15px 0px;
        text-align: center;
    }

    .rating-sm {
        font-size: 2.5rem !important;
    }
}